<% content_for :header do %>
  <section class="content-header">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb" style="font-size:medium;">
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 首页 </a></li>
          <li class="active">草签合同信息</li>
        </ol>
      </div>
    </div>
  </section>
<% end %>

<% content_for :content do %>
  <section class="content" id="myDatagrid" style="margin-top:-25px;" ng-app="i_contracts_app" ng-controller="indexCtrl">

    <div class="row">
      
      <div class="col-md-12">

        <div class="box box-warning box-solid">

          <div class="box-header with-border">

            <h3 class="box-title"></h3>

          </div>

          <div class="box-body">
          
            <div class="col-md-12">
              <div class="box box-solid statistic">
                <div class="box-header with-border">
                  <p style="line-height:30px;font-weight:bold;margin-right:10px;float:left;">请选择日期搜索:</p>
                  <input style="width:20%;height:30px;float:left"  id="reservation" class="laydate-icon" onclick="laydate()">
                  <button style="margin-left:10px;" class="btn btn-default btn-sm search" type="button">搜索</button>
                  <span>(将为您返回当日的统计数据)</span>
                </div>
                
              </div>
            </div>

            <table class="table display table-striped table-hover" id="tTrolleys">

              <thead>

                <tr>

                  <th rowspan="2">合同号</th>

                  <th rowspan="2">签订日期</th>

                  <th colspan="2">甲方信息</th>

                  <th colspan="2">乙方信息</th>

                </tr>

                <tr>

                  <!-- <th>breed 种类</th> -->

                  <!-- <th>cultivated_area 栽培面积</th> -->

                  <!-- <th>transplantNumber 种植数量</th> -->

                  <!-- <th>purchase 采购数量</th> -->
                  
                  <th>公司</th>
                  <th>城市</th>             

                  <th>姓名</th> 
                  <th>联系电话</th>     

                  <!-- <th>initialId</th> -->

                </tr>

              </thead>

            </table>

          </div>

        </div>

      </div>
      
    </div>

    <div class="modal fade in" id="alertModal">

      <div class="modal-dialog">
            
        <div class="box box-default box-solid" style="width:700px;">

          <div class="box-header" style="text-align:center">

            <h3 class="box-title">合同详情</h3>

            <div class="box-tools pull-right">

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                <span aria-hidden="true">×</span>

              </button>

            </div>

          </div>

          <div class="box-body" style="display: block;">
            <div style="text-align:center">
              <h3><%= session[:station_title]%>烟草交易合同</h3>
              <p>{{now_contract.created_at | datefilter2}}</p>
            </div>
            <hr>
            <div>
              <div>
                <p><span style="font-weight:bold">甲方:</span> <span>{{now_contract.party_a.company}}</span></p>
                <p><span style="font-weight:bold">地址:</span> <span>{{now_contract.party_a.city}}</span></p>
              </div>
              <br>
              <div>
                <p><span style="font-weight:bold">乙方:</span> <span>{{now_contract.party_b.name}}</span></p>
                <p><span style="font-weight:bold">地址:</span> <span>{{now_contract.party_b.address}}</span></p>
                <p><span style="font-weight:bold">联系电话:</span> <span>{{now_contract.party_b.phone}}</span></p>
                <p><span style="font-weight:bold">银行卡号:</span> <span>{{now_contract.party_b.card_number}}</span></p>
                <p><span style="font-weight:bold">银行:</span> <span>{{now_contract.party_b.bank}}</span></p>
              </div>
            </div>
            <div>
              <p style="text-indent:2em;">甲乙双方本着互惠互利、诚信合作的原则，根据《中华人民共和国合同法》的规定，经双方友好协商达成如下合同条款:</p>
              <p><span>种植面积:</span> <span>{{now_contract.transplant_number}}</span></p>
              <p><span>收购数量:</span> <span>{{now_contract.purchase}}</span></p>
              <p><span>合同编号:</span> <span>{{now_contract.contract_no}}</span></p>
            </div>
          </div>
          
          <div class="box-footer">

            <div class="box-tools" style="text-align:center;">

              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

<% end %>
